<!DOCTYPE html>
<html>
  <head>
    <title>c</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


<nav>
<ul>
<li> <a href="">home</a></li>


<li> <a href="/prueba">prueba</a></li>
<li> <a href="/hola">hola</a></li>


<li> <a href="/fotosintesis">fotosintesis</a></li>

<li> <a href="/video">video</a></li>



</ul>




</nav>




  </body>





</html>




